/* The body of website */
body{
    background: url("/images/cloud.webp") no-repeat center fixed;
    background-size: cover;
    margin: 0;
    font-family:  "Press Start 2P";
}

/* Download Press Start 2P font */
@font-face{
    font-family: "Press Start 2P";
    src: url("/fonts/PressStart2P-Regular.ttf");
}

/* Press Start 2P font */
.game_font{
    font-family: "Press Start 2P";
    src: url("/fonts/PressStart2P-Regular.ttf");
}

/* The header container */
.header {
  border-radius: 15px 15px 50px 15px;  
  background-color: skyblue;
  text-align: center;
  padding: 20px;
}

/* The navbar container */
.topnav {
  border-radius: 15px 15px 50px 15px;
  overflow: hidden;
  background-color:  steelblue;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color:  cyan;
  color: black;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left column */
.column.left {
  width: 75%;
}

/* Right column (22% for fitting) */
.column.right {
  width: 22%;  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a card effect for articles */
.card {
  border-radius: 25px;  
  background-color: skyblue;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  background-color: white;
  text-align: center;
  padding: 10px;
}

/* Responsive layout - makes the two columns stack on top of each other instead 
of next to each other */
@media screen and (max-width: 600px) {
  .column.left, .column.right {
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* Social media buttons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/* Social media buttons - change color on hover */
.fa:hover {
    opacity: 0.7;
}

/* LinkedIn button */
.fa-linkedin {
  background: url("/images/linkedin-brands.svg") no-repeat;
  color: white;
}

/* Instagram button */
.fa-instagram {
  background: url("/images/instagram-brands.svg") no-repeat;
  color: white;
}

/* Github button */
.fa-github {
  background: url("/images/github-brands.svg") no-repeat;
  color: white;
}

/* Thumbnail of art */
.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Reize size of image thumbnail and adds border */
.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
  border: 10px solid transparent;
  border-image: url("images/border.png") 30 round;
}

/* Image thumbnail - changes color and size on hover */
.image-thumbnails img:hover {
  opacity: 0.7;
  max-height: 220px;
  max-width: 220px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: Yellow;
  color: black;
  font-family: "Press Start 2P";
  font-size: 1vw;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: lightgoldenrodyellow;
}

/* Content takes up to 75% of width space */
#content1 {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* Content takes up to 650px of width space */
#content2 {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

/* Image thumbnail container */
#random-image-container img {
  margin-top: 20px;
}

/* Greeting container */
#greeting-container {
  margin-top: 20px;
}

/* Quote container */
#quote-container {  
  margin-top: 20px;
}