/* The body of website */
body{
    background: url("/images/cloud.webp") no-repeat center fixed;
    background-size: cover;
    margin: 0;
    font-family:  "Super Mario 256";
}

/* Super Mario blue color */
.m_blue{
    -webkit-text-stroke: 3px black;
	-webkit-text-fill-color: rgb(4, 156, 216);
}

/* Super Mario yellow color */
.m_yellow{
    -webkit-text-stroke: 3px black;
	-webkit-text-fill-color: rgb(251, 208, 0);
}

/* Super Mario red color */
.m_red{
    -webkit-text-stroke: 3px black;
	-webkit-text-fill-color: rgb(229, 37, 33);
}

/* Super Mario green color */
.m_green{
    -webkit-text-stroke: 3px black;
	-webkit-text-fill-color: rgb(67, 176, 71);
}

/* Download Super Mario 256 font */
@font-face{
    font-family: "Super Mario 256";
    src: url("/fonts/SuperMario256.ttf");
}

/* Super Marion 256 font */
.mario_font{
    font-family: "Super Mario 256";
    src: url("/fonts/SuperMario256.ttf");
}

/* The header container */
.header {
  border-radius: 15px 15px 50px 15px;  
  background-color: skyblue;
  text-align: center;
  padding: 20px;
}

/* The navbar container */
.topnav {
  border-radius: 15px 15px 50px 15px;
  overflow: hidden;
  background-color:  steelblue;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color:  cyan;
  color: black;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left column */
.column.left {
  width: 75%;
}

/* Right column (22% for fitting) */
.column.right {
  width: 22%;  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a card effect for articles */
.card {
  border-radius: 25px;  
  background-color: skyblue;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  background-color: white;
  text-align: center;
  padding: 10px;
}

/* Responsive layout - makes the two columns stack on top of each other instead 
of next to each other */
@media screen and (max-width: 600px) {
  .column.left, .column.right {
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* Social media buttons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/* Social media buttons - change color on hover */
.fa:hover {
    opacity: 0.7;
}

/* LinkedIn button */
.fa-linkedin {
  background: url("/images/linkedin-brands.svg") no-repeat;
  color: white;
}

/* Instagram button */
.fa-instagram {
  background: url("/images/instagram-brands.svg") no-repeat;
  color: white;
}

/* Github button */
.fa-github {
  background: url("/images/github-brands.svg") no-repeat;
  color: white;
}

/* Thumbnail of art */
.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Reize size of image thumbnail and adds border */
.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
  border: 10px solid transparent;
  border-image: url("images/border.png") 30 round;
}

/* Image thumbnail - changes color and size on hover */
.image-thumbnails img:hover {
  opacity: 0.7;
  max-height: 220px;
  max-width: 220px;
}

/* Input section of form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Number selection selection of form */
input[type=number] {
  color: black;
  width: 15%;
  font-family: "Super Mario 256";
  font-size: 1vw;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Submit button */
input[type=submit] {
  background-color: rgb(251, 208, 0);
  color: black;
  font-family: "Super Mario 256";
  font-size: 1vw;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Submit button - changes color on hover */
input[type=submit]:hover {
  background-color:rgb(245, 217, 77);
}

/* Yellow button container */
.button1{
  background-color: rgb(251, 208, 0);
  color: black;
  font-family: "Super Mario 256";
  font-size: 1vw;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Yellow button container - changes color on hover */
.button1:hover{
  background-color:rgb(245, 217, 77);
}

/* Red button container */
.button2{
  background-color: rgb(229, 37, 33);
  color: black;
  font-family: "Super Mario 256";
  font-size: 1vw;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 80%;
}

/* Red button container - changes color on hover */
.button2:hover{
  background-color:rgb(219, 70, 68);
}

/* The radio button container */
.rb_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
}

/* Hide the browser's default radio button */
.rb_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.rb_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.rb_container:hover input ~ .rb_checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rb_container input:checked ~ .rb_checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.rb_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rb_container input:checked ~ .rb_checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.rb_container .rb_checkmark:after {
 	top: 4.725px;
	left: 4.4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* Content takes up to 75% of width space */
#content1 {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* Content takes up to 650px of width space */
#content2 {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}  

/* Quote container */
#quote-container {  
  margin-top: 20px;
}

/* Comments container */
#comments-container {  
  margin-top: 20px;
}

/* Login container */
#login-container{
    margin: 0px;
}